body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  background-color: #364182;
  border-bottom: 10px;
}

/* text color for links in navbar */
.nav-link {
  color: white;
}

.home-box {
  width: 100%;
}

.hero {
  width: 100%;
}

/* styling and position of footer */
#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #364182;
  color: white;
}

.form-label {
  color: white;
  margin-top: .4em;
}

#search-box {
  background-color: #212747;
  padding: 1em;
  margin-top: 2em;
  box-shadow: 2px 2px 2px rgb(165, 162, 162);
}

/* color of dropdown arrow on navbar for "account" */
.dropdown-toggle::after {
  color: #ffd744;
}

/* .vac-card {
  margin: 20px;
} */

/* dimensions for images on home screen */
.vac-card-image {
  margin: .25em;
  width: 375px;
  height: 235px;
  box-shadow: 0px 2px 1px rgb(149, 149, 149);
}

/* .vac-card-info {
  /* margin-top: 10px; */
  /* min-height: .5em; */
/* } */

/* styling for vac titles */
/* .vac-card-title {
  font-size: 22px;
  margin: 0px;
} */

/* vacation card title styling */
h4 {
  margin-left: .3em;
  color: #212747;
}

/* initial position of "paper airplane animation" */
.paper-airplane {
  position: absolute;
  top: 20%;
  left: -20%;
}

#zoomer {
  overflow: hidden;
}

#zoomer img {
  transition: transform .4s;
}

#zoomer:hover img  {
  -ms-transform: scale(1.05); /* IE 9 */
  -webkit-transform: scale(1.05); /* Safari 3-8 */
  transform: scale(1.05);   
}

/* .autoCompleteText {

} */

.autoCompleteText input{
  box-sizing: border-box;
}

.autoCompleteText ul{
  position: absolute;
  width: 86%;
  background-color: rgb(73, 73, 110);
  list-style-type: none;
  text-align: left;
  margin: 0;
  padding: 0;
  border-top: 1px solid rgb(128, 128, 128);
  z-index: 100;
}

.autoCompleteText ul::before {
  content: '';
}

.autoCompleteText li {
  padding: 10px 5px;
  cursor: pointer;
  
}

.autoCompleteText li:hover {
  background-color: #ffd744;
}

.button {
  margin-top: 1em;
}

