body {
  /* background-image: url("./assets/images/LonelyLuggage.png");
  background-color: #ffc600;
  background-size: 100% 100%;;
  background-repeat: no-repeat; */
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  /* currently transparent line 46 app.js */
  background-color: #364182;
  border-bottom: 10px;
  border-bottom: silver;
}

.nav-link {
  color: white;
}

.home-box {
  width: 100%;
}
.hero {
  width: 100%;
}

#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #364182;
  color: white;
}

.form-label {
  color: white;
  margin-top: .4em;
}

#search-box {
  background-color: #212747;
  padding: 1em;
  margin-top: 2em;
  box-shadow: 2px 2px 2px rgb(165, 162, 162);
}

.dropdown-toggle::after {
  color: white;
}

/* .vac-card {
  margin: 20px;
} */
/* dimensions for images */
.vac-card-image {
  border-radius:5px;
  width: 375px;
  height: 235px;
  /* box-shadow: 0px 0px 4px 2px rgb(80, 78, 78); */
}
/* hidden info for projects */
.vac-card-info {
  /* margin-top: 10px; */
  min-height: .5em;
}
/* styling for project titles */
.vac-card-title {
  font-size: 22px;
  margin: 0px;
}

